.container {
    width: 85%;
    margin: auto;    
    justify-content: space-between;
}

.container button {
    margin-top: 2%;
}
.cards {
    display: flex;
}

mat-card {
    margin-left: 5%;
}

.card-associado {
    margin-top: 5%;
    width: 30%;
}


.card-associado:hover{
    transform: scale(1.05);
    transition: 0.4s ease;
}

button:nth-child(2) {
    margin-left: 2%;
}