<!-- <button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button> -->

    <div class="container" >
        <button mat-stroked-button color="primary" routerLink="create" >Adicionar novo associado</button>

        <div class="cards">
            <mat-card class="card-associado mat-elevation-z8" *ngFor="let associado of associados">
                <h2>Nome: {{associado.nome}}</h2>
                <p>Email: {{associado.email}}</p>
                <p>CPF: {{associado.cpf}}</p>
                <div class="actions">
                    <button mat-mini-fab color="accent" routerLink="update/{{ associado.id }}"><mat-icon>edit</mat-icon></button>
                    <button mat-mini-fab color="warn" (click)="deleteAssociado(associado.id)"><mat-icon>delete</mat-icon></button>
                </div>
            </mat-card>
        </div>
    </div>

