.container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

form {
    background-color: rgb(219, 214, 214);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    width: 30%; 
}

.form-title {
    color: aliceblue;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    text-align: center;
}

p {
    display: flex;
    justify-content: space-between;
}

p > mat-form-field {
    width: 45%;

    color: black;
}

button {
    width: 20%;
}

button:nth-child(2) {
    margin-left: 2%;

}

