<div class="container">
    <form class="mat-elevation-z8">
        <h1 class="form-title">Atualizando associado</h1>
        <mat-form-field appearance="legacy">
            <mat-label>Nome completo:</mat-label>
            <input matInput [(ngModel)]="associado.nome" name="associado.nome" placeholder="Seu nome">
        </mat-form-field>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>CPF:</mat-label>
                <input matInput [(ngModel)]="associado.cpf" name="associado.cpf" placeholder="123.456.789-10">
                <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    O e-mail inserido é inválido.
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email é <strong>obrigatório.</strong>
                </mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Email:</mat-label>
                <input type="email" [(ngModel)]="associado.email" name="associado.email" matInput [formControl]="emailFormControl" placeholder="Ex. joao@gmail.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    O e-mail inserido é inválido.
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email é <strong>obrigatório.</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <div class="botoes">
            <button mat-flat-button color="primary" (click)="updateAssociado()">Salvar</button>
            <button mat-flat-button color="warn" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>